
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
}

canvas{
    flex: 0 0 auto;
    cursor: pointer;
}

#book-form{
    flex: 0 1 auto;
    padding: 20px;
}

#book-form h2{
    text-shadow: -1px -1px 1px red;    
}

#container h1{
    text-shadow: -2px -2px 1px #00FFAA; 
}

#book-form input[type="submit"]{
    background: rgba(255,255,255,0.3);
    color: white;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    height: 30px;
    font-size: 20px;
}