body{
    background-image: url('../bg.jpg');
    background-size: 100%;
}

#slider{
    width: 640px;
    margin: auto;
    height: 325px;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    position: relative;
    border-top: 10px dashed rgba(255,255,255,0.5);
    border-bottom: 10px dashed rgba(255,255,255,0.5);
}

.slide{
    display:flex;
    flex-direction: row;
    width: 600px;
    height: 285px;
    overflow: hidden;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 1.5s !important;
    animation-fill-mode: forwards !important;
    border-radius: 10px;
    background: rgba(255,255,255,0.06);
}

#slide2{
    left: 640px;
}

@keyframes slide-out{
    from {
        left: 0px;
    }
    to {
        left: -640px;
    }
}

@keyframes slide-in{
    from{
        left: 640px;
    }
    to{
        left: 0px;
    }
}

.slide img{
    height: 285px;
    width: 200px;
    flex: 0 0 auto;
}

#info{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-left: 20px;
    text-align: left;
}

.title{
    flex: 0 0 auto;
    color: red;
}

.description{
    flex: 1 1 0px;
    overflow-y: auto;
    display: block;
    margin: 0 10px;
    font-size: 18px;
}

.description::-webkit-scrollbar {
    display: none;
}

.movie-footer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.genre{
    flex: 1 0 auto;
    color: #666666;
    padding: 3px;
}

.movie-footer a{
    text-decoration: none;
    flex: 0 0 auto;
}

.movie-footer button{
    padding: 7px;
    background: rgba(255,255,255,0.3);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: bold;
    border: none;
}

.movie-footer button:hover{
    background: rgba(255,255,255,0.2);
    color: rgb(255,60,60);
}

.movie-footer button:active{
    background: rgba(255,255,255,0.15);
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.2),
    inset 2px 2px 2px rgba(0,0,0,0.5);
}